* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  transform: translate(-50%, -50%);

  /* left: 490px;
  top: 300px; */
}
